extends layout

block content
  h1= title

  p #[strong Item:] #{ item.name }
  p #[strong Description:] #{ item.description }
  p #[strong Price:] $#{ item.price }
  p #[strong Quantity:] #{ item.quantity }
  p #[strong Category:] 
    each category, index in item.category
      a.category(href=category.url) #{ category.name }
      if index < item.category.length - 1
        | ,
  hr
  p
    a(href=`${item.url}/delete`) Delete Item
  p
    a(href=`${item.url}/update`) Update Item
